<header>
  <nav>
  </nav>
</header>
<main>
  <div class="my-grid">
    <h1>My Lists</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for todos in to_do_list %}
            <tr>
                <td>{{ todos.name }}</td>
                <td>{{ todos.items.all | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
  </div>
</main>
